body,
ul,
li,
input,
dl,
dt,
dd,
h2 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
  border: 0;
  display: block;
}
ul,
li {
  list-style: none;
}
.clearfix:after {
  content: '.';
  visibility: hidden;
  overflow: hidden;
  display: block;
  clear: both;
  height: 0;
}
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  width: 100%;
  font-size: 0.55555556rem;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  background: #f3f3f3;
  overflow: auto;
}
.box {
  width: 100%;
  height: 100%;
  position: relative;
}
header {
  width: 100%;
  height: 1.64444444rem;
  background: #00a2ed;
  padding: 0.84444444rem 0.44444444rem 0rem;
  position: fixed;
  z-index: 2;
}
header a {
  display: block;
  height: 0.93333333rem;
  float: left;
}
.left {
  width: 4.55555556rem;
  height: 0.93333333rem;
  float: left;
}
.left a {
  width: 1.6rem;
  float: left;
  height: 0.93333333rem;
  font-size: 0.88888889rem;
  color: #fff;
  line-height: 0.88888889rem;
}
.left span {
  display: block;
  float: right;
  width: 2rem;
  height: 0.93333333rem;
  color: #fff;
  font-size: 0.71111111rem;
  line-height: 0.88888889rem;
}
.right {
  float: right;
  width: 3.15555556rem;
  margin-right: 0.88888889rem;
}
.right a:nth-child(1) {
  width: 1.24444444rem;
  float: left;
  background: url(../img/icon_05.jpg) no-repeat;
}
.right a:nth-child(2) {
  width: 1.11111111rem;
  float: right;
  background: url(../img/icon_07.jpg) no-repeat;
}
#index {
  width: 100%;
}
.swiper-container {
  height: 12.22222222rem;
  position: relative;
}
.swiper-container img {
  width: 100%;
  background-size: 100% 100%;
}
.list h2 {
  height: 2.33333333rem;
  font-size: 0.77777778rem;
  font-weight: normal;
  color: #ffd300;
  line-height: 2.33333333rem;
  padding-left: 0.73333333rem;
}
.list a {
  display: block;
  height: 3.77777778rem;
  width: 13.8rem;
  border: 1px solid #ddd;
  background: #fff;
  margin: 0 auto;
  margin-bottom: 0.33333333rem;
  padding: 0.55555556rem 0.71111111rem 0 0.77777778rem;
  border-radius: 0.33333333rem;
  box-shadow: 0 5px 2px #ccc;
}
.list dl {
  height: 3.77777778rem;
}
.list dt {
  width: 3.66666667rem;
  height: 3.22222222rem;
  float: right;
}
.list img {
  width: 3.66666667rem;
  height: 3.22222222rem;
  background-size: 100% 100%;
}
.list dd {
  float: left;
  margin-top: 0.11111111rem;
  width: 9.11111111rem;
  font-size: 0.71111111rem;
  line-height: 0.93333333rem;
  color: #5b7492;
}
.mask {
  height: 100%;
  width: 100%;
  background: #616161;
  position: absolute;
  top: 0;
  left: 0;
}
#user {
  z-index: 2;
  top: 0rem;
  width: 13.46666667rem;
  left: -13.46666667rem;
  position: absolute;
}
.user-login {
  height: 4rem;
  background: #00a2ed;
  padding: 0.48888889rem 0.71111111rem;
}
.user-login a {
  display: block;
  width: 4.22222222rem;
  height: 1.46666667rem;
}
.user-login a img {
  height: 1.46666667rem;
  width: 1.46666667rem;
  border-radius: 50%;
  float: left;
}
.user-login a span {
  float: right;
  height: 1.46666667rem;
  line-height: 1.46666667rem;
  color: #fff;
  font-size: 0.66666667rem;
}
.star {
  margin-top: 1.48888889rem;
  height: 0.8rem;
  width: 11.11111111rem;
}
.star a {
  display: block;
  width: 3rem;
  height: 0.8rem;
  padding-left: 1.66666667rem;
  font-size: 0.53333333rem;
  line-height: 0.8rem;
  color: #fff;
}
.star a:nth-child(1) {
  float: left;
}
.star a:nth-child(2) {
  float: right;
}
.nav li {
  height: 2.22222222rem;
  line-height: 2.22222222rem;
  font-size: 0.66666667rem;
}
.nav li:nth-child(1) {
  background: #f0f0f0;
  padding-left: 0.84444444rem;
}
.nav li:nth-child(1) a {
  display: block;
  width: 1.55555556rem;
  color: #00a2ed;
  background: url(../img/index.jpg) no-repeat 0 center;
  padding-left: 1.55555556rem;
}
.nav li:not(:nth-child(1)) {
  background: #fff;
  padding-left: 0.84444444rem;
}
.nav li:not(:nth-child(1)) a {
  display: block;
  float: left;
  width: 4rem;
  color: #000;
}
.nav span {
  float: right;
  width: 0.55555556rem;
  height: 0.55555556rem;
  background: url(../img/plus.jpg) no-repeat center center;
  margin-right: 2.44444444rem;
  margin-top: 0.88888889rem;
  background-size: 100% 100% ;
}
.login {
  width: 70%;
  height: 29.86666667rem;
  position: absolute;
  overflow-y: scroll;
  display: none;
  z-index: 100;
}
.swiper-slide span {
  position: absolute;
  display: block;
  bottom: 0.88888889rem;
  padding: 1.11111111rem;
  font-size: 0.88888889rem;
  color: #fff;
}
